@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  color: #ddd;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: #ff6600;
  margin-bottom: 1em;
  padding-top: 1em;
}

h3 {
  font-size: 135%;
  font-weight: 400;
  margin-bottom: 5px;
}

#main-container {
  background-color: #1a1a1a;
}

#searchbox {
  text-align: center;
}

#search,
#loadMore {
  color: #ddd;
  background-color: #0a0a0a;
}

#loadMore {
  margin-top: 1em;
  width: 100%;
}

#filterButtons {
  display: block;
  overflow: auto;
  height: 100%;
  white-space: nowrap;
  box-sizing: border-box;
}

.filterButton {
  padding: 0;
  border-color: transparent;
  border-radius: 0;
  color: #ddd;
  box-sizing: border-box;
}

.filterButton ~ .filterButton {
  margin-left: 1em;
}

.filterButton:hover {
  color: #ff6600;
  border-color: transparent;
  border-bottom-color: #ff6600 !important;
}

.filterButton:disabled {
  color: #4d594f;
  border-color: transparent !important;
  cursor: initial;
}

.filterButton:focus {
  border-color: transparent;
  color: #ff6600;
}

.filterButtonActive {
  color: #ff6600;
  border-bottom-color: #ff6600 !important;
}

/* Larger than mobile */
@media (min-width: 550px) {
  #query {
    width: 65% !important;
  }
}

@media (min-width: 400px) {
  #query {
    width: 80%;
  }
}

/* Smaller than mobile */
@media (max-width: 399px) {
  #query {
    width: 100%;
  }
}

@media (min-width: 750px) {
  #queryResults {
    margin: 3rem 3rem 0em;
  }
}

@media (max-width: 749px) {
  #queryResults {
    margin: 1rem 1rem 0rem;
  }
}

#queryInfo {
  display: inline-block;
  color: #4d594f;
  margin-bottom: 1em;
}

.result ~ .result {
  margin-top: 1em;
}

.title {
  display: inline;
  font-weight: bold;
}

.title > a {
  text-decoration: none;
  color: #ddd;
}

.title > a:hover {
  color: #777;
  /*color: #ff6600;*/
}

.url {
  text-decoration: none;
  color: #4d594f;
}

.url:hover {
  text-decoration: underline;
  color: #4d594f;
}

.content {
  margin: 0.3em 15% 0 0;
}

/* Smaller than mobile */
@media (max-width: 400px) {
  .content {
    display: none;
  }
}

.result-footer {
  display: inline-block;
  color: #4d594f;
}
